name: Tests (PR)
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  test:
    name: "Test Pull Request"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6
      - name: Check Formatting
        run: deno fmt
      - name: Lint Code
        run: deno lint
      - name: Run Tests
        run: deno test