name: Tests (Main)
on:
  push:
    branches:
      - main
jobs:
  test:
    name: "Test Main Branch"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.5.6
      - name: Check Formatting
        run: deno fmt
      - name: Lint Code
        run: deno lint
      - name: Run Tests
        run: deno test